@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Kablammo&family=Mada:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Noto+Kufi+Arabic:wght@100;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

:root {
  --mainColor: #DF0024
}

.flex {
  display: flex;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 30px !important;
}

body {
  font-family: 'Cairo';
  overflow: hidden;
  direction: ltr;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none !important;
}

a:active {
  border: 0px;
  color: initial !important;
}

input:focus,
select:focus {
  box-shadow: none !important;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: 0px 0px 0px;
}

.btn-main {
  padding: 15px 20px;
  border-radius:
    12px 0px 12px 0px;
  border: 0px;
  gap: 8px;
  background: linear-gradient(0deg, #C90020, #C90020),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  color: white;
  height: 60px;
}

.btn-shopping {
  text-align: center;
  display: block;
  padding: 15px 50px;
  color: white;
  background: linear-gradient(258.9deg, var(--mainColor) -6.31%, #FF3858 128.53%);
  box-shadow: 0px 17px 33px -2px rgba(223, 0, 36, 0.08);
  border-radius: 10px;
  width: 100%;
}


input:focus {
  box-shadow: 0px 0px 0px 0px !important;
}


p {
  font-size: 18px;
  color: #4D4D4D;
  line-height: 2;
}

h5 {
  color: rgba(201, 0, 32, 1);
  font-weight: 400;
  font-size: 20px !important;
}

h2 {
  font-size: 40px !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #f4f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-color: var(--mainColor) transparent var(--mainColor) transparent;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
  -webkit-animation: spinner 2s linear infinite;
}

/* Animation */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*****************SignIn*************/

.SignIn .c-bg {
  background: #EAEBF3;
  width: 60%;
  height: 100vh;
  width: 65%;
  width: 30%;
  position: fixed;
}

.SignIn .cover {
  position: relative;
  height: 100vh;
}

.SignIn .cover .logo {
  width: 146px;
  height: 62px;
}

.SignIn .cover img {
  position: absolute;
}

.SignIn .cover .singin-img {
  width: 100%;
  height: 85vh;
  right: -50px;
  top: 100px;
  z-index: 99;
}

.SignIn .cover .Ellipse {
  width: 41px;
  height: 39px;
  left: 40%;
  top: 20px;
  z-index: 1;
}

.SignIn .cover .Ellipse-1 {
  top: auto;
  bottom: 50px;
  width: 27px;
  height: 26px;
  right: 40%;
}

.SignIn .cover .Ellipse-2 {
  top: auto;
  bottom: 0px;
  left: 353px;
  width: 27px;
  height: 26px;
  left: 30%;
  right: auto;
}

.SignIn .cover .Ellipse-3 {
  width: 45px;
  height: 45px;
  left: 7%;
  top: 60%;
}

.SignIn .cover .Ellipse-4 {
  width: 27px;
  height: 27px;
  left: 1%;
  top: 50px;
}

.SignIn .cover .logo img {
  width: 146px;
  height: 62px;
  margin-left: 50px;
  margin-top: 20px;
}

.SignIn .content span {
  display: block;
}

.SignIn .content {
  padding: 100px 200px 0px 50px;
}

.SignIn .content h1 {
  margin-bottom: 16px;
}

.SignIn .content a {
  color: var(--mainColor);
  padding-left: 10px;
}

form .form-group {
  margin-top: 30px;
  position: relative;
}

.SignIn .content form .form-group input {
  border: 1px solid #D9DEE2;
  border-radius: 10px;
  padding: 10px;
}

.form-group .fa-eye,
.location_icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  color: #aaa;
}

.SignIn .content form .bottom_form {
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 0px 0px 0px 10px;
}

.SignIn .content .bottom_form .Forgot {
  color: var(--mainColor);
  text-align: right;
}

form .btn {
  background: linear-gradient(258.9deg, var(--mainColor) -6.31%, #FF3858 128.53%);
  border-radius: 10px;
  width: 95%;
  height: 58px;
  border: 0px;
  margin: auto;
  display: block;
}

.SignIn .content .btn {
  background: linear-gradient(258.9deg, var(--mainColor) -6.31%, #FF3858 128.53%);
  border-radius: 10px;
  width: 100%;
  height: 58px;
  border: 0px;
}

.SignIn .icons_socialMedia ul li {
  display: inline-block;
  margin: 0px 10px;
}

.SignIn .icons_socialMedia ul li img {
  width: 41.46px;
  height: 41.46px;
}

/********* Signup******/
.Signup .content {
  padding: 60px 200px 0px 50px;
}

.Signup .stepper {
  padding: 0px 10px;
  margin-bottom: 20px;
}

.Signup .stepper>div {
  height: 6px;
  background: linear-gradient(258.9deg, var(--mainColor) -6.31%, #FF3858 128.53%);
  border-radius: 8px;
  border-right: 1px solid white;
}

.Signup .stepper .stepper-2 {
  background: #D9DEE2
}

.SignupStepper2 .stepper .stepper-2 {
  background: linear-gradient(258.9deg, var(--mainColor) -6.31%, #FF3858 128.53%);
}

/****OTP*******/
.OTP .timer {
  color: var(--mainColor);
  font-size: 14px;
}

.OTP input {
  background: #EEF1F3;
  border: 0px !important;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  max-width: 60px;
  height: 60px;
}

.SignIn .content form .form-group {
  padding: 3px;
}

.OTP input:focus {
  background: white !important;
}

/* Navbar */
.navbar {
  gap: 150px;
  padding: 0px 40px;
  /* padding: 10px; */
}

.navbar .navbar-brand img {
  max-width: 172px;
}

.navbar .navbar-collapse {
  justify-content: center;
  font-weight: 500;
}

.navbar .navbar-btns {
  color: #04233a;
}

.navbar .navbar-btns select {
  border: none;
  background: white;
}


.navbar .navbar-nav .navbar-btns {
  display: none;
}

.navbar .navbar-btns .login_link {

  color: var(--mainColor);

  font-weight: 600;
}

.navbar .navbar-btns .btn-signup {
  background: linear-gradient(258.9deg, var(--mainColor) -6.31%, #FF3858 128.53%);
  border-radius: 10px;
  color: white;
  margin-left: 20px;
}

.navbar .navbar-btns .btn-signup:hover {
  background: white;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.navbar .navbar-nav .nav-link {
  font-weight: normal;
  color: #04233a;
  padding: 15px 15px 5px;
  font-size: 18px;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  font-weight: bold;
  color: var(--mainColor);
}

.navbar .navbar-btns-icons img {
  width: 20px;
  height: 25px;
}

.navbar .navbar-btns-icons .img-profile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 30px;
}

.navbar .navbar-btns a {
  padding: 15px;
  cursor: pointer !important;
}

.navbar .navbar-btns a:hover {
  color: #C90020;
}

.navbar .navbar-btns a img {
  margin: 5px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.navbar .navbar-btns button {
  padding: 15px 20px;
  border-radius:
    12px 0px 12px 0px;
  border: 0px;
  gap: 8px;
  background: linear-gradient(0deg, #C90020, #C90020),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  color: white;
  height: 60px;
}

.navbar .navbar-btns button img {
  width: 20px !important;
  height: 20px !important;
}

/*******************subNavbar************************/
.subNavbar {
  position: relative;
  background: url(../assets/Frame.png) top left no-repeat;
  width: 95%;
  background-size: cover;
  margin-left: auto;
  padding: 5px 0px;
  z-index: 9;
}

.subNavbar .backgroundImg {
  position: absolute;
  right: 0px;
  z-index: -1;
}

.subNavbar .content {
  width: 95%;
  display: flex;
  margin: auto;
  margin-left: auto;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}

.subNavbar .content .Links,
.subNavbar .content .activites {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subNavbar .content .activites .shopping {
  position: relative;
}

.subNavbar .content .activites .shopping .number {
  position: absolute;
  top: -11px;
  right: -18px;
  background: rgba(47, 53, 132, 1);
  color: white;
  padding: 4px 10px;
  font-size: 12px;

}

.subNavbar .content .Links li a {
  color: white;
  padding: 10px;
}

.subNavbar .content .Links .active a,
.subNavbar .content .Links li a:hover {
  color: rgba(245, 176, 187, 1);
}

.subNavbar .content .Links li:after {
  content: "|";
  color: rgba(245, 176, 187, 1);

}

.subNavbar .content .Links li:last-child:after {
  content: "";

}

.subNavbar .activites li span {
  background: rgba(167, 0, 27, 1);
  border-radius: 100%;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer !important;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.subNavbar .activites li span:hover {
  background: rgba(245, 176, 187, 1);
}

.subNavbar .activites li span img {
  width: 20px;
  height: 20px;
}

/*******************header************************/
header {
  height: 752px;
  position: relative;
}

header .headerImg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -48px;
}

header .container,
header .container .content {
  height: 100%;
}

header .content .row {
  padding: 2% 0px 0px;
  height: 100%;
  text-align: left;
}

/* header .content .row img {
  height: 90%;
  width: auto;
} */
header .content .row .content {
  margin: 0px auto;
  /* padding-left: 80px; */
}

header .content .row h1 {
  font-size: 64px;
  padding-top: 170px;
  line-height: 70px;
  font-weight: 500;
}

header .content .row p {
  padding: 10px 0px;
  font-size: 24px;
}

header .content .row button {
  padding:
    16px 60px 16px;
  width: 40%;
}

/*******************ListNumbers************************/
.ListNumbers {
  margin-bottom: 50px;
}

.ListNumbers .row {
  text-align: center;
  margin: auto;
}

.ListNumbers h6 {
  color: rgba(47, 53, 132, 1);
  font-size: 40px;
  font-weight: 600;
}

.ListNumbers p {
  color: rgba(7, 8, 11, 1);
  font-weight: 400;
}

.ListNumbers .row>div {

  border-right: 1px solid rgba(214, 214, 214, 1);
}

.ListNumbers .row>div:last-child {

  border-right: 0px;
}

/*******************about-us************************/
.about-us {
  margin-bottom: 50px;
}

.about-us .content {
  margin-top: 50px;
}

.about-us .AboutImage {
  width: 100%;
}

.about-us .content a {
  margin-top: 25px;
  display: block;
  color: rgba(43, 46, 56, 1)
}

/*******************services************************/
.services {
  background: rgba(242, 243, 244, 1);
  padding: 100px 0px;
  text-align: center;
  margin-bottom: 50px;
}

.services .row {
  margin-top: 20px;
}

.services .row .card {
  background: white;
  border: 0px;
  width: 90%;
  margin: auto;
  transition: .5s all ease-in-out;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition: .5s all ease-in-out;
  -ms-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  overflow: hidden;
}

.services .row .card .img-header {
  height: 358px;
}


.services .row .card .title {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: -10px;
  font-weight: 600;
  padding: 15px 0px;
  background: white;
  height: auto;
  color: rgba(45, 45, 45, 1);
  transform: translate(0px, 0px) rotate(0deg);
  transition: .5s all ease-in-out;
}

.services .content-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  /* background: url(../assets/servicesFram.png) center center; */
  color: white;
}

.services .row .card .content-hover {
  display: none;
  padding-top: 80px;
}

.services .row .card .content-hover h5 {
  padding-bottom: 10px;
}

.services .row .card .content-hover h5,
.services .row .card .content-hover p {
  color: white;
}

.services .row .card .content-hover a img {
  width: 24px;
  height: 24px;
}

.services .row .card:hover {
  background-color: red;
  border-color: red;
}

.services .row .card:hover .content-hover {
  display: block;
}

.services .row .card:hover .img-header {
  display: block;
  opacity: 0.5;
}

.services .row .card:hover .title {
  transform: scale(1.8) translate(-119px, -114px) rotate(-93deg);
  opacity: 0;
  -webkit-transform: scale(1.5) translate(-119px, -114px) rotate(-93deg);
  -moz-transform: scale(1.8) translate(-119px, -114px) rotate(-93deg);
  -ms-transform: scale(1.8) translate(-119px, -114px) rotate(-93deg);
  -o-transform: scale(1.8) translate(-119px, -114px) rotate(-93deg);
  -webkit-transform: scale(1.8) translate(-119px, -114px) rotate(-93deg);
  border-bottom-right-radius: 100px;
}




/*******************Accreditations************************/
.Accreditations {
  padding: 50px 0px 100px;
  text-align: center;
  margin-bottom: 50px;
}

.Accreditations h5 {
  padding-bottom: 0px;
}

.Accreditations .row>div .content {
  border: 1px solid rgba(77, 77, 77, 0.2);
  padding: 20px;
}

.Accreditations .row {
  margin-top: 10px;
}

.Accreditations .row>div {
  margin-bottom: 20px;
}

.Accreditations .row>div .content {

  border-radius: 12px;
}

.Accreditations .row>div .content h5 {
  color: rgba(47, 53, 132, 1);
  font-weight: 800;
  padding-top: 20px;
}

/*******************results************************/
.results {
  background: url(../assets/results.png) center center no-repeat;
  background-size: cover;
  padding: 200px 0px;
  margin-bottom: 50px;
  text-align: center;
}

.results h5 {
  color: rgba(245, 176, 187, 1);
}

.results h2,
.results p {
  color: white;
}

.results .btn-main {
  background: white;
  color: black;
  margin-top: 50px;
  border-bottom: 2px solid rgba(178, 0, 29, 1);
  padding: 0px 20px;
}

.results {
  margin-top: -39px;
  width: 100%;
  height: 100%;
  height: 110%;
}

/*******************technician************************/
.technician {
  background: rgba(242, 243, 244, 1);
  height: 400px;
  margin-top: 150px;
}

.technician .container,
.technician .row,
.technician .row>div {
  height: 100%;
}

.technician .resultsLeft {
  margin-top: -39px;
  height: 100%;
  height: 110%;
}

.technician h5 {
  margin-top: 50px;
}

.technician button {
  width: 50%;
}

/*******************App************************/
.App {
  margin-top: 200px;
  margin-bottom: 100px;
  background: url(../assets/AppBackround.png) center center no-repeat;
  background-size: cover;
}

.App .resultsLeft {
  height: 550px;
  margin-top: -18%;
}

.App .App-div {
  text-align: center;
}

.App .icons-app {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

/*******************news************************/
.news {
  margin-bottom: 20px;
  /* padding-bottom: 30px; */
  height: auto;
}



.news p {
  padding: 5px 0px 0px;
  margin-bottom: 0px;
}

.news input {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 50px;
  margin: 10px 0px 20px;
}

.news .contentImage {
  width: 100%;
  position: relative;
}

.news .contentImage .content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 10%;
  width: 100%;
  color: white
}

.news .contentImage .content h5 {
  color: white;
}

.news .contentImage .content p {
  color: white
}

.news .contentImage .content .btn-white {
  background: white;
  color: black;
  margin-bottom: 15px;
  margin-top: 5px;
}

.news .contentImage .content .btn-main {
  width: 30%;
  display: block;
}

.news .contentImage .content .btn-translate {
  background: transparent;
  margin-bottom: 10px;
  border: 1px solid;
}

.news .resultsLeft {
  width: 100%;
}

/*******************Location************************/
.Location {
  margin-top: 100px;
  margin-bottom: 50px;
  background: url(../assets/Location-fram.png) center center no-repeat fixed;
  background-size: cover;
  height: 660px;
  padding: 50px;
}

.Location img {
  width: 100%;
}

.Location .List {
  padding: 0px;
  display: flex;
  align-items: center;
}



.Location .List li:first-child {
  text-align: center;
  border-right: 1px solid;
  padding-right: 10px;
}

.Location .List li:last-child {
  padding: 0px 10px;
}

.Location .List h1 {
  margin: 0px !important;
  color: rgba(223, 0, 36, 1);
  font-size: 65px;
  font-weight: 700;
  padding: 0px !important;
  line-height: .6;
}

.Location .List p {
  margin: 0px;
}

.Location .Link {
  color: rgba(223, 0, 36, 1);
}

.Location .Link img {
  width: 20px;
  height: 20px;
}

/*******************Partners************************/
.Partners {
  background: url(../assets/Partners.png) center center no-repeat fixed;
  background-size: cover;
  margin: 100px 0px;
}

.Partners .alfaLogo {
  margin: 20px 0px 10px;
}

.Partners .animationFirst {
  margin: 0 20px;
  width: 50%;
  padding: 0 0px;
  text-align: center;
  width: 180px;
  height: 500px;
  overflow-y: hidden;
  text-align: center;
}

.Partners .animationFirst img {
  width: 120px;
  height: 80px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.Partners .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Title:
 *    Animations
 * Description:
 *    List all the animations of the site in one file
 * Sections:
 *    $. Keyframes
 *    $. Classes
 */



/* $. Keyframes
\*----------------------------------------------------------------*/


@keyframes shrink {
  0% {
    color: green;
    transform: scale(2);
  }

  100% {
    transform: scale(1);
    color: grey;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
    color: grey;
  }

  100% {
    transform: scale(2);
    color: green;
  }
}


/* $. Classes
\*----------------------------------------------------------------*/

.Partners .animate {
  transform: translate3d(0, 0, 0);
  perspective: 1000;
  filter: blur(0);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: center left;

}

.Partners .animate--shrink {
  animation-duration: 1s;
  animation-name: shrink;
  animation-timing-function: 'linear';
}

.Partners .animate--grow {
  animation-duration: 1s;
  animation-timing-function: 'linear';
  animation-name: grow;
}


/* Slider */

.Partners .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  tap-highlight-color: transparent;
  /* padding-top: 40px; */

}

.Partners .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.Partners .slick-slider .slick-track,
.Partners .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.Partners .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.Partners .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: 150px;
    background: white;
    border-radius: 10px;
    padding: 40px 20px 40px 20px;
    border: 1px solid rgba(224, 225, 237, 1) !important;
    margin-bottom: 20px;
    border: 0;
    outline: none;

    &:focus,
    &:active,
    &:selection {
      outline: none !important;
      border: 0 !important;
      box-shadow: none;
    }
  }
}

.Partners .slick-arrow.slick-hidden {
  display: none;
}

.Partners .slick-current {
  position: relative;
}

/*******************packages************************/
.packages {
  background: rgba(242, 243, 244, 1);
  padding: 70px 0px;
  text-align: center;
}

.packages a {
  color: black;
}

.packages .tabcontent .card {
  padding: 20px 10px 30px;
  margin-bottom: 10px;
}

.packages .tabcontent .card .topCard {
  background: rgba(242, 243, 244, 1);
  padding: 10px;

}

.packages .tabcontent .card .topCard .headerCard {
  margin: auto;
  display: block;
  height: 98px;

}

.packages .tabcontent .card .topCard .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.packages .tabcontent .card .topCard .content ul {
  display: flex;
  justify-content: left;
  align-items: center;
}

.packages .tabcontent .card .topCard .content ul .number {
  width: 43px;
  height: 43px;
  padding: 10px;
  border-radius: 0px 100px 100px 100px;
  -webkit-border-radius: 0px 100px 100pxb 100px;
  -moz-border-radius: 0px 100px 100pxb 100px;
  -ms-border-radius: 0px 100px 100pxb 100px;
  -o-border-radius: 0px 100px 100pxb 100px;
  background: rgba(47, 53, 132, 1);
  color: white;
  margin-right: 5px;
}


.packages .tabcontent .card .topCard .content .logoImage {
  width: 77px;
}

.packages .tabcontent .card .bottomCard {
  margin: auto;
  text-align: center;
  width: 90%;
}

.packages .tabcontent .card .bottomCard h5 {
  color: black;
  font-weight: 600;
  margin-top: 10px;
}

.packages .tabcontent .card .bottomCard h6 {
  color: black;
  font-weight: 700;
}

.packages .tabcontent .card .bottomCard p,
.TestsDetielsPage .Deatiles .instead {
  font-size: 14px;
}

.packages .tabcontent .card .bottomCard p span,
.TestsDetielsPage .Deatiles .instead span {
  color: rgba(223, 0, 36, 1);
  text-decoration: line-through;
}

.packages .tabcontent .card .bottomCard .btn-main {
  background: white;
  border: 1px solid rgba(223, 0, 36, 1);
  color: rgba(223, 0, 36, 1);
  height: 46px;
  padding: 10px 20px;
  width: 90%;
  margin: auto;
  display: block;
}

.packages .tabcontent .card .bottomCard .btn-main:hover {
  background: rgba(223, 0, 36, 1);
  ;
  border: 1px solid rgba(223, 0, 36, 1);
  color: white;
}

.packages .tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.packages .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Change background color of buttons on hover */
.packages .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.packages .tab button.active {
  background-color: rgba(230, 230, 230, 1);
}

/* Style the tab content */
.packages .tabcontent {
  display: none;
  border-top: none;
}


/*******************Reviews************************/
.Reviews {
  background: rgba(242, 243, 244, 1);
  padding: 70px 0px;
}

.Reviews .card {
  border: 0px;
  width: 90%;
  margin-right: auto;
  padding: 50px 15px 30px;
  position: relative;
  margin-top: 80px;
  text-align: left;
}

.Reviews .card .iconMessage {
  position: absolute;
  z-index: 99;
  top: -35px;
  left: 20px;
}

.Reviews .card p {
  color: rgba(145, 155, 163, 1);
  margin-bottom: 10px;
}

.Reviews .card h6 {
  font-size: 20px;
  color:
    rgba(77, 77, 77, 1);
}

.Reviews .card .iconMessage img {
  width: 60px;
  height: 60px;
}

.Reviews .card .rating {
  color: rgba(47, 53, 132, 1);
  display: flex;
}

.Reviews .card .rating li {
  margin-right: 10px;
}


/*******************Articles************************/
.Articles {
  padding: 70px 0px;
}

.Articles .container .topImage,
.Articles .container .topImage img {
  width: 100%;
}

.Articles .container .content {
  text-align: left;
  position: relative;
  margin-bottom: 40px;
}

.Articles .container .content span {
  font-size: 14px;
  color:
    rgba(77, 77, 77, 1);
}

.Articles .container .content h6 {
  font-size: 20px;
  margin: 5px 0px;
  font-weight: 600;
}

.Articles .container .content p {
  color:
    rgba(123, 133, 143, 1);
}

.Articles .container .content {
  padding: 10px;
  border: 1px solid rgba(224, 225, 237, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: 0px;
}

.Articles .container .content .iconArrow {
  position: absolute;
  z-index: 99;
  bottom: -25px;
  left: 20px;
}

/*******************footer************************/
footer .content {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 30px;
}

footer .content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .content ul li:first-child {
  margin-right: 50px;
}

footer .content ul .soical {
  padding: 0px 25px;
  margin-top: 20px;
}


footer .content ul .soical a {
  border: 1px solid rgba(224, 225, 237, 1);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 2px 7px;
}

footer .content ul .soical a img {
  width: 18px;
  height: 18px;
}

footer p {
  margin-top: 25px;
}

/***************Offers***************/
.Offers header {
  height: 550px;
}

.Offers header .content .row h1 {
  font-size: 64px;
  font-weight: 200 !important;
  margin-bottom: 40px;
  font-family: 'Cairo';
}

.Offers header .content .row p {
  background: rgba(223, 0, 36, 1);
  color: white;
  border-radius: 100px 0px 100px 0px;
  width: 50%;
  margin: auto;
}

/*****Offers packages******/
.Offers .packages {
  margin-top: 0px;
  background: white;
}

.Offers .packages .tab button {
  border: 1px solid rgba(224, 225, 237, 1);
}


/*******************ServicesHome************************/
.ServicesHome .Deatiles {
  width: 80%;
  margin: 100px auto;
}

.ServicesHome .Deatiles h4 {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(214, 214, 214, 1);
}

.ServicesHome .Deatiles .btn-main {
  padding: 0px 70px;
  height: 50px;
}

.ServicesHome .Deatiles .image-services {
  width: 100%;
  border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -ms-border-radius: 0px 20px 0px 20px;
  -o-border-radius: 0px 20px 0px 20px;
}

.ServicesHome .Deatiles .Preparation {
  padding: 10px 0px;
  border-top: 1px solid rgba(214, 214, 214, 1);
  margin-top: 30px;
}


.ServicesHome .Deatiles h4 {
  border: 0px;
}

/******************BookYourServices*****************/
.BookYourServices .Deatiles .alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(242, 243, 244, 1);
  margin: 50px 0px;
  border: 0px;
}

.BookYourServices .Deatiles .alert h5 {
  color: black;
}

.BookYourServices .Deatiles .alert .btn-main {
  width: 30%;
}

.BookYourServices .Deatiles .PatientInfo .alert {
  margin: 0px;
}

.BookYourServices .Deatiles .PatientInfo form .form-group {
  margin-top: 10px;
  padding: 5px 20px;
}

.BookYourServices .Deatiles .PatientInfo form .form-group input {
  height: 50px;

}

.BookYourServices .Deatiles .PatientInfo form .form-group input[type="checkbox"] {
  height: 15px;
  width: 15px;

}

.BookYourServices .Deatiles .PatientInfo form .form-group label {
  padding-bottom: 5px;
}

.BookYourServices .Deatiles .PatientInfo form .form-group input,
.BookYourServices .Deatiles .PatientInfo form .form-group textarea,
.BookYourServices .Deatiles .PatientInfo form .form-group select {

  color: rgba(214, 214, 214, 1);
  appearance: inherit;
}

.BookYourServices .Deatiles .PatientInfo form .form-group input::placeholder {
  color: rgba(214, 214, 214, 1);

}

.BookYourServices .Deatiles .PatientInfo .Card-img {
  /* width: 20px;
  height: 20px; */

}

.BookYourServices .Deatiles .PatientInfo .card {
  background: rgba(242, 243, 244, 1);
  padding: 10px;
  border: 0px;
  margin-bottom: 20px;
}

.BookYourServices .Deatiles .PatientInfo .card .row>div .content {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(224, 225, 237, 1);
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px;
}

.BookYourServices .Deatiles .PatientInfo .card .row>div:last-child .content {
  border-bottom: 0px
}

.BookYourServices .Deatiles .PatientInfo .btn-main {
  width: 100%;
}

/*********TestPage*****************/
.TestPage header {
  height: 550px;
}

.TestPage .packages {
  background: white;
  position: relative;
}




.TestPage .packages .tab {
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;

}

.TestPage .packages .tabcontent {
  margin-top: 50px;
}

.TestPage .top-sec {
  border-bottom: 1px solid rgba(224, 225, 237, 1);
  padding:
    30px;
  position: absolute;
  top: -100px;
  width: 84%;
  background: white;
}


.TestPage .packages .searching {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TestPage .packages .searching input {
  width: 85%;
  background: linear-gradient(0deg, #F2F3F4, #F2F3F4), linear-gradient(0deg, #D8D8D8, #D8D8D8);
  padding: 12px 0px 12px 12px;
  border-radius: 10px 0px 0px 10px;
  border: 1px;
  height: 51px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -ms-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
}

.TestPage .packages .searching button {
  width: 15%;
  height: 51px;
  padding: 10px;
  border-radius:
    0px 10px 10px 0px;
  background: rgba(223, 0, 36, 1);
  border: 0px;
  color: white;
}

/*********TestsDetielsPage*****************/
.TestsDetielsPage .ImageTests {
  border: 1px solid rgba(224, 225, 237, 1);
  padding: 20px;
  height: 338px;
}

.TestsDetielsPage .ImageTests img {
  width: 100%;
  height: 100%;
}

.TestsDetielsPage .Deatiles .content {
  padding-left: 20px;
}

.TestsDetielsPage .Deatiles h4 {
  border-bottom: 1px solid rgba(214, 214, 214, 1)
}

.TestsDetielsPage .Deatiles h3 {
  color: rgba(47, 53, 132, 1);
  font-size: 32px;

}

.TestsDetielsPage .Deatiles .btn-main {
  padding: 0px 20px;
  height: 50px;
}

.TestsDetielsPage .List_Included .container {
  width: 80%;
  margin: auto;
}

.TestsDetielsPage .List_Included .container .title {
  background: rgba(201, 0, 32, 1);
  padding: 10px;
  border-radius:
    20px 20px 0px 0px;
}

.TestsDetielsPage .List_Included .container .title h5 {
  font-size: 20px;
  color: white;
  padding: 0px 10px;
  margin: 0px;
}

.TestsDetielsPage .List_Included .container .card-header button,
.TestsDetielsPage .List_Included .container .card-header:first-child {
  background: rgba(242, 243, 244, 1);
  color: black;
  text-decoration: none;
  font-size: 20px;
  border-radius:
    12px;
  width: 100%;
}

.TestsDetielsPage .List_Included .container .card {
  margin: 10px 0px;
  border: 0px;
}

.TestsDetielsPage .List_Included .container .card-header button {
  display: flex;
  justify-content: space-between;
}

.TestsDetielsPage .List_Included .container .card-header button svg {
  border-radius: 100%;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  padding: 7px;
}

.TestsDetielsPage .List_Included .container .card-header .collapsed .fa-minus {
  display: none;
}

.TestsDetielsPage .List_Included .container .card-header .collapsed .fa-plus {
  display: block;
}

.TestsDetielsPage .List_Included .container .card-header .fa-minus {
  display: block;
}

.TestsDetielsPage .List_Included .container .card-header .fa-plus {
  display: none;
}

/********************media**************************/
.about-page header {
  height: 550px;
}

.about-page .values {
  background: rgba(242, 243, 244, 1);
  padding: 70px 0px;
  text-align: center;
}

.about-page .values .card {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 0px;
  margin-bottom: 30px;
}

.about-page .values .header-image {
  border-radius: 12px 12px 0px 0px;
}

.about-page .values .icon {
  background: white;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  margin: auto;
  padding: 14px;
  margin-top: -30px;
}

.about-page .missinVision {
  margin: 50px 0px;
}

.about-page .missinVision .row>div {
  padding: 20px;
}

.about-page .missinVision img {
  height: 350px;
  width: 100%;
}

.Numbers {

  padding: 50px 0px 100px;
  text-align: center;
  margin-bottom: 50px;
}

.Numbers .content {
  border: 1px solid rgba(77, 77, 77, 0.2);
  padding: 25px 25px;
  margin: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}


.Numbers .content h5 {
  color: rgba(47, 53, 132, 1);
  background: rgba(242, 243, 244, 1);
  width: 75px;
  height: 65px;
  margin: auto;
  font-size: 32px !important;
  padding: 10px 3px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}


/*********Journey*****************/
.Journey {
  background: rgba(242, 243, 244, 1);
  padding: 70px 0px;
  text-align: center;
  padding-bottom: 100px;
}

.Journey .slick-dots {
  width: 94%;
  margin: auto;
  bottom: -62px;
}

.Journey .slick-dots li {
  position: relative;
  display: inline-block;
  width: 33%;
  height: 3px;
  padding: 0;
  margin-top: -50px;
  margin: 0px;
  cursor: pointer;
  background: rgba(182, 183, 185, 1);
}

.Journey .slick-dots .slick-active {
  background: rgba(43, 33, 113, 1)
}

.slick-dots li button {
  width: 100%;
}

.Journey .slick-next:before,
.Journey .slick-prev:before {
  content: ">";
  color: black;
  font-size: 20px;
  border: 1px solid rgba(214, 214, 214, 1);
  padding: 15px 20px;
  font-weight: 900;
  border-radius: 100%;
}

.Journey .slick-next,
.Journey .slick-prev {
  position: absolute;
  bottom: -55px;
  right: 55px;
  left: auto;
  top: auto;
}

.Journey .slick-next {
  right: 0px;
}

.Journey .slick-prev:before {
  content: "<";
}

.Journey .content {
  margin: auto;
}

.Journey .content .boarder {
  border-bottom: 1px solid #aaa;
  position: relative;
  margin: 20px 0px;
}

.Journey .content .boarder span {
  background: rgba(223, 0, 36, 1);
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: -9px;
  left: 50%;

}

.Journey .content .card .backImage {
  position: absolute;
  top: -25px;
  left: 40%;
  z-index: -1;
}

.Journey .content .card {
  margin: 50px 10px 0px;
  padding: 30px 15px;
}

/*********BranchesPage*****************/
.BranchesPage .Branches {
  text-align: center;
  margin: auto;
}

.BranchesPage .Branches .headerCard {
  width: 32px;
  height: 32px;
  margin: 20px auto;
}

.BranchesPage .Branches .card {
  margin: auto auto 20px;
  width: 95%;
  padding-bottom: 50px;

}

.BranchesPage .Branches .form-control {
  height: 51px;
}

.Medical-articles .Articles {
  margin-top: -100px;
  padding-bottom: 0px;
}

.Medical-articles .packages .searching button {
  width: 50px;
}

/*********Partners*****************/
.PartnersPage .Partners {
  margin-top: -50px;
}

.PartnersPage .List_Included .form {
  background: rgba(242, 243, 244, 1);
  padding: 30px;

}

.PartnersPage .List_Included .form .form-group {
  margin: 10px 20px 0px;
}

.PartnersPage .List_Included .form input,
.PartnersPage .List_Included .form select {
  height: 60px;

}

.PartnersPage .List_Included .stepper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
}

.PartnersPage .List_Included .stepper li:first-child,
.PartnersPage .List_Included .stepper li:last-child {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 7px 15px;
  background: white;
  color: black;
}

.PartnersPage .List_Included .stepper li.active {
  background: rgba(201, 0, 32, 1);
  color: white;
}

.PartnersPage .List_Included .stepper li .line {
  width: 100px;
  height: 2px;
  background: rgba(214, 214, 214, 1);
  display: block;
}

.PartnersPage .List_Included .btn-main {
  display: block;
  width: 40%;
  text-align: center;
}

.PartnersPage .List_Included .btn-main:hover,
.PartnersPage .List_Included .btn-main:active,
.PartnersPage .List_Included .btn-main:focus {
  color: white;
}

/*********PartnersPage2*****************/
.PartnersPage2 .List_Included .stepper li {
  background: rgba(201, 0, 32, 1);
  color: white;
}

/*********Jobs*****************/
.Jobs .careers .fileUpload {
  position: relative;
}

.Jobs .careers .fileUpload input {
  opacity: 0;
  width: 200px;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  z-index: 3;
}

.Jobs .careers .fileUpload p {
  color: rgba(201, 0, 32, 1);
  text-decoration: underline;
}

.Jobs .fileUpload {
  margin-top: 20px;
}

.Jobs .careers input,
.Jobs .careers select {
  height: 60px;
}

/*********careers*****************/
.careers .container {
  background: rgba(242, 243, 244, 1);
  margin: 50px auto 50px;
  padding: 30px;
}

/*********ContactUs*****************/
.ContactUs .Fillter .top-sec .row>div {
  border-right: 1px solid rgba(214, 214, 214, 1);
}

.ContactUs .Fillter .top-sec .row>div:last-child {
  border: 0px;
}

.ContactUs .form-contact-us {
  background: rgba(242, 243, 244, 1);
  padding: 50px 0px;

}

.ContactUs .form-contact-us .card {
  padding: 30px;
  width: 80%;
  margin: auto;
}

.ContactUs .form-contact-us .row {
  display: flex;
  align-items: center;
}

.ContactUs .form-contact-us .card input {
  height: 55px;
}

.ContactUs .form-contact-us .card .form-group {
  margin: 10px 0px;
}

/*********media*****************/
@media screen and (max-width: 992px) {
  /******general*********/

  h2 {
    font-size: 24px !important;
  }

  p {
    font-size: 14px !important;
  }

  /*navbar */
  .navbar .navbar-btns-icons {
    display: none !important;
  }

  .navbar .navbar-nav .navbar-btns {
    display: block;
    margin: 20px auto;
  }

  .navbar .navbar-nav .navbar-btns button,
  .navbar .navbar-nav .navbar-btns a {
    display: block;
  }

  .subNavbar {
    display: none;
  }

  .navbar .navbar-collapse {
    margin: 0px;
    text-align: center;
    box-shadow: rgba(177, 177, 177, 0.22) 8px 37px 26px 10px;
  }


  /*container */
  .container {
    max-width: 100% !important;
  }

  /*header */

  header {
    height: auto;
    padding-bottom: 50px;
  }

  header .headerImg {
    top: 0px
  }

  header .content .row {
    margin: auto;
    padding: 0px;
    text-align: center;
  }

  header .content .row .header-left-image {
    width: 100%;
  }

  header .content .row .content {
    padding-left: 0px;
  }

  header .content .row h1 {
    font-size: 27px;
    padding-top: 50px;
    line-height: normal;
  }

  header .content .row button {
    width: 90%;
  }

  /*ListNumbers */
  .ListNumbers {
    margin-bottom: 20px;
  }

  .ListNumbers .row>div {
    border: 0px;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    padding: 30px 0px 10px;

  }

  .ListNumbers h6 {
    font-size: 30px;
  }

  .ListNumbers .row>div:last-child {
    border: 0px;
  }

  .row {
    padding: 0px;
    margin: 0px;
  }

  .services .row .card {
    margin-bottom: 20px;
  }

  /*.technician */
  .technician,
  .Location {

    height: auto;
    padding-bottom: 40px;
  }

  .technician .resultsLeft {
    margin-top: -26px;
    width: 100%;
    height: auto;
  }

  .App .resultsLeft {
    margin-top: 50px;
  }

  .App .icons-app img {
    width: 100%;
  }

  .news .resultsLeft {
    display: none;
  }

  .news .row>div {
    margin: auto;
    text-align: center;
  }

  /*.Location */
  .Location .Link img {
    margin-top: 10px;
  }


  /*.news */
  .news .contentImage .content .btn-main {
    width: 29%;
    display: block;
    margin: auto;
  }

  .news .contentImage {
    background: url(../assets/News.png) center center;
    background-size: cover;
  }

  .news .contentImage .content {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    width: 100%;
    color: white;
    padding-bottom: 50px;
  }

  .news .contentImage .content .btn-main {
    margin: auto;
    width: 80%;
  }

  .news h5 {
    margin-top: 50px;
    padding-top: 40px;
  }

  .news .contentImage .content .btn-white {
    margin-bottom: 20px;
  }

  /*.Reviews */
  .Reviews .card {
    margin: auto;
    margin-top: 80px;
  }

  /*.Partners */
  .Partners .animationFirst img {
    width: 100%;
  }

  .Partners .animationFirst {
    margin: 0px 6px;
  }

  .packages .tab button {
    margin-right: 5%;
    margin-bottom: 10px;
    width: 45%;
  }

  /*.Location */
  .Location {
    padding: 50px 0px;
  }

  /*.footer */
  footer .content {
    margin-bottom: 0px;
  }

  footer .content ul {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
  }

  footer .content ul .soical {
    display: inline-block;
    margin-top: 20px;
  }

  /*******************Offers***************************/
  .Offers header {
    height: 400px;
  }

  .Offers h1 {
    margin-top: 20px;
  }

  /*******************BookYourServices***************************/
  .BookYourServices .Deatiles .alert {
    flex-direction: column;
  }

  .BookYourServices .Deatiles .alert .btn-main {
    width: 50%;
  }

  /*******************BookYourServices***************************/
  .TestPage .top-sec {
    padding: 20px;
    top: 0x;
    width: 100%;
    position: relative;
  }

  .TestPage .packages .tab {
    display: block;
  }

  .TestPage .packages .tab button {
    width: 47%;
    display: inline-block;
    margin: 4px;
    margin-top: 10px;
  }

  .TestPage .packages .tabcontent {
    margin-top: 0px;
  }

  /*******************BookYourServices***************************/

  .ServicesHome .Deatiles,
  .TestsDetielsPage .List_Included .container {
    width: 100%;
    margin: 50px auto;
  }

  /*******************about-page***************************/
  .about-page header {
    height: auto;
    margin-bottom: 50px;
  }

  .about-page .missinVision img {
    height: auto;
  }

  .ContactUs .Fillter .top-sec .row>div {
    border-right: 0px;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
  }

  .ContactUs .form-contact-us .row {
    flex-direction: column-reverse;
  }

  .ContactUs .form-contact-us .card {
    width: 100%;
  }
}